{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/changelog", {
      "changelogFile": "CHANGELOG.md"
    }],
    [
      "semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": ["README.md"],
            "from": "fulgas\/reviewdog-action-checkov@v.*",
            "to": "fulgas\/reviewdog-action-checkov@v${nextRelease.version}",
          },
          {
            "files": ["README.md"],
            "from": "ghcr.io\/fulgas\/reviewdog-action-checkov:[0-9]+\\.[0-9]+\\.[0-9]+",
            "to": "ghcr.io\/fulgas\/reviewdog-action-checkov:${nextRelease.version}",
          },
          {
            "files": ["action.yml"],
            "from": "image: 'docker:\/\/ghcr.io\/fulgas\/reviewdog-action-checkov:[0-9]+\\.[0-9]+\\.[0-9]+'",
            "to": "image: 'docker://ghcr.io/fulgas/reviewdog-action-checkov:${nextRelease.version}'",
          }
        ]
      }
    ],
    ["@semantic-release/git", {
      "assets": ["CHANGELOG.md", "README.md", "action.yml"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    "@semantic-release/github"
  ]
}