name: 'Release'

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: 'Semantic Release'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        with:
          ci: true
          semantic_version: 24.2.7
          extra_plugins: |
            @semantic-release/git
            @semantic-release/changelog
            @semantic-release/github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}